/* *****************************

BVAmbient - VanillaJS Particle Background
Developed by: Bruno Vieira

**************************** */

.bvambient_particle
{
	position: relative;
	pointer-events: none;
	transition: top linear, left linear;

}

